<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center"><%= link_to "Home", pages_home_path, class: "brand-logo"%></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Delivers", delivers_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      </ul>
    </div>
  </nav>