<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
<br>
<div class="row">
    <% @delivers.each do |deliver| %>
        <div class="col m4">
            <div class="card-content">
                <span class="card-title"><%= deliver.name %></span>
            </div>
        </div>
    <% end %>
</div>
